.content .ivu-spin-fix .ivu-spin-main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

// search ========= common

.currentNav {
    font-size: 14px;
    color: #888;
    line-height: 32px;
    margin: 0 0 10px;
    .addNew {

    }
}

.sels {
    .sels-item {
        margin: 10px;
        margin-left: 0;
    }
}

.searchTable {
    margin-top: 15px;
    box-shadow: 0 -5px 10px #eee;
    .ivu-table-cell {
        padding: 0 8px;
    }
    .ivu-checkbox-wrapper {
        margin: 0
    }
    .ivu-rate {
        font-size: 15px;
        .ivu-rate-star {
            margin-right: 2px;
        }
    }
    .ivu-tooltip-inner {
        white-space: normal;
        word-wrap: break-word;
    }
    .sendBtns {
        margin: 15px 0;
        .ivu-btn {
            margin-right: 10px;
        }
    }
    .tablePage {
        margin: 15px 0
    }
}